{
  "extends": ["standard", "standard-react"],
  "rules": {
    "comma-dangle": 0,
    "react/prop-types": 0
  },
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint"
}
