.calendar
  &__cell
    position: relative
    background-color: $dark-grey
    width: 10px
    height: 10px
    margin: 1px
    border: 1px solid transparent
    border-top-color: transparent
    &--in-range
      background-color: $main
    &--point
      &:after
        position: absolute
        top: 1px
        left: 1px
        width: 6px
        height: 6px
        content: ''
        border-radius: 50%
        overflow: hidden
        background-color: $black
      &--dimmed
        &:after
          opacity: .3
    &--border-top
      border: none
      border-top: 1px solid rgba($black, .5)
    &--dimmed
      opacity: .5
    &--today
      border: 1px solid $black
