$cell-margin: 1px
$cell-side: 10px
$calendar-width: 53 * ($cell-side + $cell-margin * 2)

.calendar
  padding-top: $cell-side + 5px
  width: $calendar-width
  margin-left: auto
  margin-right: auto
  &__cell
    position: relative
    background-color: $dark-grey
    @include dark-mode
      background-color: #6b6b6b
    width: $cell-side
    height: $cell-side
    margin: $cell-margin
    border: 1px solid transparent
    border-top-color: transparent
    &--border-top
      border: none
      border-top: 1px solid rgba($black, .5)
    &--today
      border: 1px solid $black
    &--display-name
      &:before
        position: absolute
        font-size: 9px
        opacity: .7
    &--display-day-name
      &:before
        content: attr(data-dayname)
        top: -1px
        right: $cell-side + 5px
        text-align: right
    &--display-month-name
      &:before
        content: attr(data-monthname)
        top: -$cell-side - 5px
