.calendar
  &__cell
    background-color: $dark-grey
    width: 10px
    height: 9px
    margin: 1px
    border-top: 1px solid
    border-top-color: transparent
    &--marked
      background-color: $main
    &--border-top
      border-top-color: $black
    &--dimmed
      opacity: .5
