$gantt-on-hold-color: desaturate($main, 60)
$gantt-current-color: lighten($main, 30)
$gantt-current-color--dark: darken($gantt-current-color, 50)

.gantt
  background-color: $main
  @media (prefers-color-scheme: dark)
    background-color: darken($main, 30)
  font-size: 12px
  padding: 4px
  white-space: nowrap
  > *
    position: relative
    z-index: 1
  &--on-hold
    background-color: $gantt-on-hold-color
    @media (prefers-color-scheme: dark)
      background-color: darken($gantt-on-hold-color, 20)
  &--current
    background-color: $gantt-current-color
    @media (prefers-color-scheme: dark)
      background-color: $gantt-current-color--dark
    &:after
      content: ''
      position: absolute
      width: 10px
      right: 0
      top: 0
      height: 100%
      background: linear-gradient(to right, transparent 0%, $white 100%)
      @media (prefers-color-scheme: dark)
        background: linear-gradient(to right, $gantt-current-color--dark 0%, $dark-mode-bg 100%)
  &__months,
  &__ranges
    width: 100%
    left: 0
    top: 0
  &__months
    font-size: 9px
    &__item
      opacity: .7
      &:after
        content: ''
        position: absolute
        left: 0
        top: 15px
        width: 1px
        height: 100%
        background-color: $dark-grey
