body
  margin: 0
  padding: 0
  font-family: sans-serif

button
  border-radius: 0
  &:focus
    outline: none

*:disabled
  opacity: .5
  pointer-events: none
  color: inherit

a
  font: inherit
  color: inherit
  &:not(.underline)
    text-decoration: none

textarea
  width: 230px
  resize: none
  border: none
  transition: background-color 200ms
  &:focus
    outline: none
    background-color: rgba($main, .17)

input
  border-style: solid
  border-width: 1px
