body
  margin: 0
  padding: 0
  font-family: sans-serif

button
  border-radius: 0
  &:focus
    outline: none

*:disabled
  opacity: .5
  pointer-events: none
  color: inherit

a
  text-decoration: none
  font: inherit
  color: inherit

textarea
  resize: none
  border: none
  transition: background-color 200ms
  cursor: pointer
  &:focus
    cursor: text
    outline: none
    background-color: rgba($main, .17)
