@import vars
@import helpers
@import base

@import tables
@import tooltip
@import fonts

@import components/loader
@import components/list
@import components/calendar
@import components/time-viewer
@import components/gantt
@import components/button
@import components/flash-message
@import components/popup

// overrides
.react-datepicker__close-icon::after
  padding: 0 !important
  background-color: transparent !important
  border: 1px solid $black !important
  color: $black !important
