body
  margin: 0
  padding: 0
  font-family: sans-serif

// reps indicator
.reps-indicator
  width: 5px
  height: 5px
  border-radius: 50%
  overflow: hidden
  margin-right: 5px
  background-color: #bababa
  &__upcoming
    background-color: #57b3ee

// overrides
.react-datepicker__close-icon::after
  padding: 0
  background-color: transparent
  border: 1px solid #000
  color: #000
